<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @soft.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @soft.price %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @soft.maker %>
</p>

<p>
  <strong>Hard:</strong>
  <%= @soft.hard %>
</p>

<%= link_to 'Edit', edit_soft_path(@soft) %> |
<%= link_to 'Back', softs_path %>
